.projectWhole {
  background-color: rgb(255, 250, 241);
}

#boeingTitle {
  text-align: left;
  margin-left: 5%;  
}

#boeingProject {
  text-align: left;
  margin-left: 5%;
  width: 40%;
}

#nikeTitle {
  text-align: left;
  margin-left: 5%;
}

#nikeProject {
  text-align: left;
  margin-left: 5%;
  width: 40%;
}

#daimlerTitle {
  text-align: left;
  margin-left: 5%;
}

#daimlerProject {
  text-align: left;
  margin-left: 5%;
  width: 40%;
}

#zooTitle {
  text-align: left;
  margin-left: 5%; 
}

#zooProject {
  text-align: left;
  margin-left: 5%;
  width: 40%;
}

#universityTitle {
  text-align: left;
  margin-left: 5%;
}

#universityProject {
  text-align: left;
  margin-left: 5%;
  width: 50%;
}