.projectWhole {
  background-color: rgb(255, 250, 241);
}

#boeingProject {
  text-align: left;
  margin-left: 5%;
  width: 50%;
}

#nikeProject {
  text-align: left;
  margin-left: 5%;
  width: 50%;
}

#daimlerProject {
  text-align: left;
  margin-left: 5%;
  width: 50%;
}

#zooProject {
  text-align: left;
  margin-left: 5%;
  width: 50%;
}

#universityProject {
  text-align: left;
  margin-left: 5%;
  width: 50%;
}