.projectWhole {
  background-color: rgb(255, 250, 241);
}

#boeingTitle {
  text-align: left;
  margin-left: 5%;
  width: 33%;
}

#boeingProject {
  text-align: left;
  margin-left: 5%;
  width: 37%;
}

#nikeTitle {
  text-align: left;
  margin-left: 5%;
  width: 28%;
}

#nikeProject {
  text-align: left;
  margin-left: 5%;
  width: 37%;
}

#P3-1 {
  float: right;
  width: 75%;
  height: auto;
}

#daimlerTitle {
  text-align: left;
  margin-left: 5%;
  width: 50%;
}

#daimlerProject {
  text-align: left;
  margin-left: 5%;
  width: 37%;
}

#zooTitle {
  text-align: left;
  margin-left: 5%;
  width: 50%;
}

#zooProject {
  text-align: left;
  margin-left: 5%;
  width: 37%;
}

#universityTitle {
  text-align: left;
  margin-left: 5%;
  width: 50%;
}

#universityProject {
  text-align: left;
  margin-left: 5%;
  width: 37%;
}