@font-face {
  font-family: 'Arvo-BoldItalic';
  font-weight: 700;
  src: local('Arvo-BoldItalic'), url(../../Assets/Fonts/Arvo-BoldItalic.ttf), format('ttf');
}

.headerBackground {
  background-image: url(../../Assets/HeaderBackground.jpg);
  min-height: 35vh;
  background-position: 35% 58%;
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#title {
  padding-left: 100px;
  font-family: 'Arvo-BoldItalic';
  color: rgb(31, 31, 31);
  font-weight: 700;
  font-size: 60px;
  font-style: italic;
}

.logoStyle {
  width: 140px;
  height: 165px;
}



#button1 {
  position: relative;
  left: 76.5%;
  bottom: 90%;
}

#button2 {
  position: relative;
  left: 77%;
  bottom: 90%;
}

#button3 {
  position: relative;
  left: 77.5%;
  bottom: 90%;
}

#button4 {
  position: relative;
  left: 78%;
  bottom: 90%;
}


.footerPics {
  font-family: 'Arvo-BoldItalic';
  height: 25vh;
  min-height: 25vh;
}

.footer1 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(../../Assets/LandManagement.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 33%;
  height: 100%;
  display: inline-block;
}

.text1 {
  color: white;
  margin: 0;
  padding: 20px;
}

.footer2 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(../../Assets/UrbanForestry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 34%;
  height: 100%;
  display: inline-block;
}

.text2 {
  color: white;
  margin: 0;
  padding: 20px;
}

.footer3 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(../../Assets/NaturalResource.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 33%;
  height: 100%;
  display: inline-block;
}

.text3 {
  color: white;
  margin: 0;
  padding: 20px;
}