.navStyle {
  padding-bottom: 100px;
}

.headerWhole {
  background: rgb(255, 250, 241);
  color: darkblue;
  margin-bottom: -8px;
  text-align: center;
}

.navWhole {
  background: rgb(255, 250, 241);
  color: white;
}

.logoStyle {
  width: 75px;
  height: 75px;
}

.footerWhole {
  background: rgb(18, 38, 31);
  color: white;
  display: flex;
  position: absolute;
  width: 100%;
  min-height: 20vh;
  flex-direction: column;
}