.navStyle {
  padding-bottom: 100px;
}

.headerWhole {
  background: rgb(29, 64, 52);
  color: white;
  margin-bottom: -8px;
  text-align: center;
}

.navWhole {
  background: rgb(29, 64, 52);
  color: white;
}

.logoStyle {
  width: 75px;
  height: 75px;
}

.footerWhole {
  background: rgb(29, 64, 52);
  color: white;
  left: 0px;
  bottom: 0px;
  height: 180px;
  width: 100%;
}