.contactWhole {
  background-color: rgb(255, 250, 241);
  height: 75vh;
  min-height: 50vh;
}

.aboutWhole {
  background-color: rgb(255, 250, 241);
  height: auto;
  min-height: 50vh;
}

.aboutText {
  text-align: left;
  margin-left: 5%;
  width: 60%;
}